.alert.alert-danger {
  color: rgb(30, 255, 0);
  background-color: #6b58a0;
  font-size: 20px;
  font-family: monospace;
}

.navbar a {
  color: rgb(30, 255, 0);
  font-size: 20px
}

a.nav-link.disabled {
  color: #0ed450
}

  

.nav-item {
  color: #3cff00;
  font-family: monospace;
  font-size: 14px padding: 1px;
  border: 1px dashed #3cff00;
}


.container {
  padding: 10px;
  border: 1px dashed #ac14ca;
}

.row {
  padding: 10px;
}

.iframeContainer {
  padding: 2px;
  border: 8px double #9c0a9c;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0px;
  font-size: 19px;
  text-align: center;
}