<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>0_Introduction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- First: css req'd for bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">


</head>

<body>
  <!-----------00 NAV BAR ICON TOTAL TWO BARS STACKED--  -->
  <nav class="navbar navbar-dark" style="background-color: #560088;">
    <a class="navbar-brand" href="#">
      <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      JobVizzY
    </a>

    <a class="nav-link active" href="#">00.Welcome</a>
    <a class="nav-link" href="#">0.UserProfiler</a>
    <a class="nav-link" href="#">1.WebScraper</a>
    <a class="nav-link" href="#">2.Lister</a>
    <a class="nav-link" href="#">3.Bubbler</a>
    </a>
  </nav>
  <!-- -----------------FIRST main navbar ends------------>
  <ul class="nav justify-content-center" style="background-color: #bb7dee">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">PR02:Full-Stack Web Framework ATTILA|OMER|OSAME</a>
    </li>
  </ul>
  <br>
  <!-- second navbar only for decoration -->
  <!--------------------  SECOND navbar_End---------------->


  <!--------------- 0 WELCOME MESSAGE ---------- -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="container">
          <span class="border" style="color: #560088">
            <div class="d-flex justify-content-center" style="background-color: #bb7dee">
              <img src="https://raw.githubusercontent.com/attila5287/DU_Coding_PR02_JobVizzy_flask_python_MongoDB_JavaScript_Plotly_BeautifulSoup/master/jobVizzy_
              Small.png"
                class="rounded">
            </div>
        </div>
        </span>
      </div>
      <!-- -------------TABLE STARTS----------- -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="row">Welcome to JobVizzy, a mobile-friendly full stack web development project created as a
              team
              project by
              three coding bootcamp students:Attila Turkoz, Omer Kurban and Osame Ben Ismael. </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Firstly the app requests user preferences, such as city, state, job titles and min salary to
              store in a
              JavaScript file-the infamous cookies! </td>
          </tr>
          <tr>
            <td>Extracts hundreds and thousands of job listings to user with a single tap/click with 'Scraper'
              using
              BeautifulSoup, requests and Splinter modules of Python. </td>
          </tr>
          <tr>
            <td>Transforms web data to open source database platform MongoDB and stores in lighter JSON format
              for
              smooth transfer. </td>
          </tr>
          <tr>
            <td>
              Loads the job listings to user home page rendering tables in responsive, mobile-friendly web pages
              created
              with
              various Bootstrap components. </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  </div>
  <!-- ---------------END OF WELCOME MSG LOGO---- -->



  <!--------------- 1 MOD CONTAINER------------ -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert" align="center">
          <b>* * * FIRST MODULE: PROFILER* * * </b>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- first box from left -->
      <div class="col-sm-6">
        <li class="list-group-item list-group-item-info">
          <h4>
            User Input/Form
          </h4>
        </li>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type:circle">
              <li>Collect user preferences with a form element</li>
              <li>Run the next module with job title/city
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            HTML form element to collect info from user
          </li>
          <li class="list-group-item">
            JavaScript for interactive elements
          </li>
          <li class="list-group-item">
            Bootstrap components for design
          </li>

        </ul>
      </div>
    </div>
  </div><br>
  <!-- ------------END OF MOD CONTAINER ------->


  <!--------------- 2 MOD CONTAINER------------ -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success" role="alert" align="center">
          <b>* * * SECOND MODULE: SCRAPER* * * </b>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- first box from left -->
      <div class="col-sm-6">
        <li class="list-group-item list-group-item-success">
          <h4>
            Scraper
          </h4>
        </li>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
            ` aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type:circle">
              <li>Brings apprx 1,000 postings efficiently</li>
              <li>
                Scrapes indeed, craigslist and careerbuilder
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            BeautifulSoup to parse HTML, request for source
          </li>
          <li class="list-group-item">
            Pandas for data mungling
          </li>
          <li class="list-group-item">
            Exports daily results in csv format if chosen
          </li>

        </ul>
      </div>
    </div>
  </div><br>
  <!-- ------------END OF MOD CONTAINER ------->


  <!--------------- 3 MOD CONTAINER------------ -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert" align="center">
          <b>* * * THIRD MODULE: LISTER* * * </b>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- first box from left -->
      <div class="col-sm-6">
        <li class="list-group-item list-group-item-warning">
          <h4>
            Lister
          </h4>
        </li>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type:circle">
              <li>
                User picks how to list results:
              </li>
              <li>
                HTML on web, CSV for output or JSON as MongoDB
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Results rendered HTML or exported to CSV for large data
          </li>
          <li class="list-group-item">
            Pandas for dataframe to HTML, Json or CSV
          </li>
          <li class="list-group-item">
            Stores data in JSON format to MongoDB open source database
          </li>

        </ul>
      </div>
    </div>
  </div><br>
  <!-- ------------END OF MOD CONTAINER ------->

  <!--------------- 4 MOD CONTAINER------------ -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger" role="alert" align="center">
          <b>* * * FOURTH MODULE: BUBBLER* * * </b>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- first box from left -->
      <div class="col-sm-6">
        <li class="list-group-item list-group-item-danger">
          <h4>Data Visualization</h4>
        </li>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type:circle">
              <li>
                Gathers overall info for the selection
                parameters
              </li>
              <li>
                Displays bubble chart with scraped values
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Scrapes indeed salaries page to obtain average
            salary for the specific city-job title pair
          </li>
          <li class="list-group-item">
            Leaflet support for geo-map
          </li>
          <li class="list-group-item">
            Tooltip on interactive chart
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <!-- ------------END OF MOD CONTAINER ------->





  <!-- BOTTOM_JQ_POPPER_JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- BOTTOM_end -->
</body>

</html>
